.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 8px 0;
  background-color: #fff;
  box-shadow: 0 4px 30px #0000004d;
  z-index: 1;
}
.header > :first-child {
  display: flex;
  width: 80%;
  padding: 8px 0;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header > :last-child {
  width: 80%;
  margin: 0 auto;
}
